<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magzhub.com.app" >
<!--   package="mrinalika.dell.com.hfad"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/magzhub_icon_trans_back"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MySubscription"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".MySubscription"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySubscription" >
            </meta-data>
        </activity>
        <activity
            android:name=".Launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Launcher"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Launcher" >
            </meta-data>
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".MySubscription"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySubscription" >
            </meta-data>
        </activity>
        <activity
            android:name=".Getting_Magazines"
            android:label="@string/title_activity_getting__magazines"
            android:parentActivityName=".Categories"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Categories" >
            </meta-data>
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".Categories"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Categories" >
            </meta-data>
        </activity>
        <activity
            android:name=".ReadingMagazine"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MagazineIssue"
            android:label="@string/title_activity_magazine_issue"
            android:parentActivityName=".MySubscription"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySubscription" >
            </meta-data>
        </activity>
        <activity
            android:name=".faq"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".MySubscription"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySubscription"></meta-data>
        </activity>
    </application>

</manifest>
